:root {
  /* background-color: red; */
}
.page {
  border: 1px solid whitek;
  background-image: linear-gradient(#01ffc87c, #00cbef75);
  position: relative;
  margin: 10% 35% 10% 35%;
}
form {
  margin: 10% 10% 10% 10%;
}
.fields {
  /* background-color: aqua; */
}
